.get-started-botton{
  color: white;
  background-color: rgb(121, 82, 179);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 3px;
  transition: color 0.15s, background-color 0.15s;
}
.get-started-botton:hover{
  color: rgb(232, 232, 232);
  background-color: rgb(112, 76, 166);
}
.download-botton{
  color: rgb(108, 117, 125);
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: bold;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(108, 117, 125);
  cursor: pointer;
  margin-left: 3px;
  transition: color 0.15s, background-color 0.15s;
}
.download-botton:hover{
  color: white;
  background-color: rgb(108, 117, 125);
}